/* font-family: 'Roboto', sans-serif; */label
html{
    font-size: 62.5%;
    /* background-color: gray; */
}
body{
    display: grid;
    /* serão 6 linhas e 4 colunas , apesar de uma das linhas parecer ser 2 foi dividido pelo número de seções */
    grid-template-areas:  "header header header header" 
                            "hero hero hero hero "
                            "about about about about  "
                            "services services services services"
                            "projects projects  projects projects "
                            "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    background-color: antiquewhite;
    font-size: 1.6rem;
    font-family: 'Roboto', "sans-serif";
    font-weight: 400;
}

/* HEADER  */

.header{
    grid-area: header;
    background-color: white;
}
.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    /* caso no mobile fique muito menor ele não fique estranho */

}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s ;

}
.header a:hover h1{
    color: red;
}

/* HERO  */

.hero{
    grid-area: hero;
    background-color: blue;
}

/* ABOUT */

.about{
    grid-area: about;
    background-color: aqua;
}

/* SERVICES- */

.services{
    grid-area: services;
    background-color: chocolate;
}

/* PROJECTS */

.projects
{
    grid-area: projects;
    background-color: darkgreen;
}

/* FOOTER */

.footer{
    grid-area: footer;
    background-color: darkmagenta;
}